
@{
    ViewBag.Title = "DetailBacklog";
    ViewBag.JS = "/Scripts/Page/DetailBacklog.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="content-heading">Detail Backlog</h2>

<div class="block block-rounded block-link-shadow">
    <div class="block-content">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-6">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_noBacklog">No Backlog</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_noBacklog" name="txt_noBacklog" value="@ViewBag.noBackLog" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_dstrct">District</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_dstrct" name="txt_dstrct" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_eqNumber">Eqp Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_eqNumber" name="txt_eqNumber" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_compCode">Component Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_compCode" name="txt_compCode" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_egi">EGI</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_egi" name="txt_egi" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_hm">HM</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control form-control-sm " id="txt_hm" name="txt_hm" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_blDesc">Backlog Description</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_blDesc" name="txt_blDesc" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_dInspecton">Inspecton Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm " id="txt_dInspecton" name="txt_dInspecton" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_inspector">Inspector</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_inspector" name="txt_inspector" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_source">Sources</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_source" name="txt_source" readonly>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_wg">Work Group</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_wg" name="txt_wg" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_standJob">Standard Job</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_standJob" name="txt_standJob" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_nrpGl">NRP GL</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_nrpGl" name="txt_nrpGl" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_oriID">Originator ID</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_oriID" name="txt_oriID" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_planRD1">Plan Repair Date 1</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm " id="txt_planRD1" name="txt_planRD1" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_planRD2">Plan Repair Date 2</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control form-control-sm " id="txt_planRD2" name="txt_planRD2" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_mp">Manpower</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control form-control-sm " id="txt_mp" name="txt_mp" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_hEst">Hour Estimation</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control form-control-sm" step="any" id="txt_hEst" name="txt_hEst" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="txt_posBL">Posisi Backlog</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control form-control-sm " id="txt_posBL" name="txt_posBL" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block block-rounded block-link-shadow">
    <div class="block-header block-header-default">
        <h3 class="block-title">Recommended Part</h3>
    </div>
    <div class="block-content">
        <div class="row justify-content-center pb-4">
            <div class="col-sm-12 col-md-12 table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination w-100" id="table_part">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">No</th>
                            <th>Part No</th>
                            <th>Stock Code</th>
                            <th>Part Description</th>
                            <th>Fig No</th>
                            <th>Index No</th>
                            <th>Qty</th>
                            @*<th>Available stock</th>*@
                            <th>Location on Stock</th>
                            <th>ETA Supply</th>
                            <th>Part Class</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="block block-rounded block-link-shadow">
    <div class="block-header block-header-default">
        <h3 class="block-title">Recommended Repair</h3>
    </div>
    <div class="block-content">
        <div class="row justify-content-center pb-4">
            <div class="col-sm-12 col-md-12 table-responsive">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination w-100" id="table_repair">
                    <thead class="text-center">
                        <tr>
                            <th class="text-center">No</th>
                            <th>Problem Description</th>
                            <th>Activity Repair</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="block block-rounded block-link-shadow">
    <div class="block-header">
        <h3 class="block-title">Note</h3>
    </div>
    <div class="block-content">
        <div class="mb-3">
            <textarea class="form-control form-control-sm" id="txt_note" name="txt_note" readonly></textarea>
        </div>
    </div>
    <div class="block-content block-content-full block-content-sm bg-body-light fs-sm">
        <div class="block-options justify-content-center">
            <div class="row text-center">
                <div class="col-md-12">
                    <a href="/Backlog/ListBacklog" class="btn btn-sm btn-info"><i class="fa fa-backward opacity-50 me-1"></i>Back</a>
                </div>
            </div>
        </div>
    </div>
</div>