
@{
    ViewBag.Title = "List Backlog";
    ViewBag.JS = "/Scripts/Page/ListBacklogReview.js";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="toast-example-2" class="toast fade hide" style="position: absolute; top: 20px; right: 20px;" data-delay="4000" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        @if (ViewBag.UpdateStatus.Remarks == true)
        {
            <i class="fa fa-check-circle text-success me-2"></i>
        }
        else
        {
            <i class="fa fa-exclamation-triangle text-danger me-2"></i>
        }
        <strong class="me-auto">System</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        @ViewBag.UpdateStatus.Message
    </div>
</div>

<h2 class="content-heading">List Backlog</h2>
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">
            Table Backlog<small>All list Backlog</small>
        </h3>
    </div>
    <div class="block-content block-content-full">

        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive w-100" id="tbl_backlog">
            <thead class="text-center bg-primary text-white">
                <tr>
                    <th>NO BACKLOG</th>
                    <th>WO NO</th>
                    <th>DISTRICT</th>
                    <th>EQP NUMBER</th>
                    <th>COMP CODE</th>
                    <th>BACKLOG DESCRIPTION</th>
                    <th>INSPECTON DATE</th>
                    <th>PLAN REPAIR DATE 1</th>
                    <th>PLAN REPAIR DATE</th>
                    <th>POSISI BACKLOG</th>
                    <th>CREATED DATE</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
